{% extends 'todo/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
    <style>

    </style>
{% endblock head %}

{% block content %}

<div class="card text-center" style="height:300px; width: 50%; margin: auto;" >
    <div class="card-header" style="background-color:black; color: azure;">
      <h4>To Do App</h4>
    </div>
    <div class="card-body">
      <h5 class="card-title">Register or Login</h5>
      <p class="card-text">Register or Login yourself to access the To-Do App</p>
      <a href="{% url 'register' %}" class="btn btn-primary">Register Now!</a>
      <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
    </div>
    <div class="card-footer text-muted">
      
    </div>
  </div>


{% endblock content %}